<h1>Contact</h1>


<%= "<p style=\"color: green\">#{flash[:notice]}<p>" if flash[:notice] %>

<% form_for :contributor_wizard, :url=>{:action=>:contact}  do |f| %>
  <%= f.error_messages %>

  
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= wizardly_submit %>
  </p>
<% end %>

<script type='text/javascript'>
  document.getElementById('contributor_wizard_phone').focus()
</script>
