<h1>Question 2</h1>


<%= "<p style=\"color: green\">#{flash[:notice]}<p>" if flash[:notice] %>

<% form_for :poll, :url=>{:action=>:question_2}  do |f| %>
  <%= f.error_messages %>

  
  <p>
    <%= f.label 'Would you be interested in contributing to a political campaign?' %><br />
    <%= f.enum_select :q2 %>
  </p>
  <p>
    <%= wizardly_image_submit %>
  </p>
<% end %>

<script type='text/javascript'>
  document.getElementById('poll_q2').focus()
</script>
